<div class="head">
    <h1>Employee List</h1>
    <div>
        <button class="deletebutton" (click)="deleteAllEmployees()">Delete All Employees</button>
        <button class="deletebutton" (click)="downloadReport()">Download Report </button>
    </div>
</div>
<div class="search">
    <input [(ngModel)]="EmployeeId" type="number" placeholder="Enter Employee ID">
    <button (click)="searchEmployee(EmployeeId)">Search</button>
</div>
<div class="bottom">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Mobile</th>
                <th>Job Role</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.ph}}</td>
                <td>{{employee.jobrole}}</td>
                <td>{{employee.salary}}</td>
                <td>
                    <div class="actionbuttons">
                        <button (click)="updateEmployeeById(employee.id)" class="updateid">Update</button>
                        <button (click)="deleteEmployeeById(employee.id)" class="deleteid">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
