<div class="container">
    <h3>Emplyee Id: {{EmployeeId}}</h3>
    <form #myform="ngForm">
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" [(ngModel)]="emp.firstname" required>
        </div>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" [(ngModel)]="emp.lastname" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="emp.email" required>
        </div>
        <div>
            <label for="ph">Mobile:</label>
            <input type="number" id="ph" name="ph" [(ngModel)]="emp.ph" required>
        </div>
        <div>
            <label for="jobrole">Job Role:</label>
            <input type="text" id="jobrole" name="jobrole" [(ngModel)]="emp.jobrole" required>
        </div>
        <div>
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" [(ngModel)]="emp.salary" required>
        </div>
        <div>
            <input type="submit" value="Update Employee" (click)="updateEmployeeById(EmployeeId,myform.value)">
            <button type="button" (click)="goBack()">Back</button>
        </div>
    </form>
</div>
