<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link th:href="@{/css/homepage.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="navbar :: navbar"></div>
    <div class="container">
        <h1>Welcome to our Spring Boot Project</h1>
        <p>This is a simple home page created using Thymeleaf.</p>
        <a th:href="@{/login}" class="button">Login</a>
    </div>
</body>
</html>
